<body class="text-center">
    <form class="form-signin" #playerUpdate="ngForm" (ngSubmit)="onSubmit()">
        <h1 style="font-weight: bold; text-transform: uppercase;word-wrap:break-word;">{{player.name}}</h1>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNamePlayer">Name</label>
                <input style="text-transform: uppercase;" [(ngModel)]="player.namePlayer" #namePlayer="ngModel" name='namePlayer' class="form-control" type="text" id="inputNamePlayer" placeholder="Name of player" required>
                <span *ngIf="!namePlayer.valid && namePlayer.touched">
                    Campo obligatorio
                </span>
            </div>
            
            <div class="form-group col-md-6">
                <label for="inputLastnamePlayer">Lastname</label>
                <input style="text-transform: uppercase;" [(ngModel)]="player.lastnamePlayer" #lastnamePlayer="ngModel" name='lastnamePlayer' class="form-control" type="text" id="inputLastnamePlayer" placeholder="Lastname of player" required>
                <span *ngIf="!lastnamePlayer.valid && lastnamePlayer.touched">
                    Campo obligatorio
                </span>
            <div class="form-group col-md-6"></div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputBirthday">Birthday</label>
                <input [(ngModel)]="player.birthday" #birthday="ngModel" name="birthday" type="date" class="form-control" required>
                <span *ngIf="!birthday.valid && birthday.touched">
                    Campo obligatorio
                </span>
            </div>

            <div class="form-group col-md-6">
                <label for="inputAge">Age</label>
                <input style="text-transform: uppercase;" [(ngModel)]="player.age" #age="ngModel" name='age' class="form-control" type="number" id="inputAge" placeholder="Current age" required>
                <span *ngIf="!age.valid && age.touched">
                    Campo obligatorio
                </span>
            <div class="form-group col-md-6"></div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputHeight">Height</label>
                <input style="text-transform: uppercase;" [(ngModel)]="player.height" #height="ngModel" name='height' class="form-control" type="number" id="inputHeight" placeholder="Current height" required>
                <span *ngIf="!height.valid && height.touched">
                    Campo obligatorio
                </span>
            <div class="form-group col-md-6"></div>

            <div class="form-group col-md-6">
                <label for="inputWeight">Weight</label>
                <input style="text-transform: uppercase;" [(ngModel)]="player.weight" #weight="ngModel" name='weight' class="form-control" type="text" id="inputWeight" placeholder="Current weight" required>
                <span *ngIf="!weight.valid && weight.touched">
                    Campo obligatorio
                </span>
            <div class="form-group col-md-6"></div>
        </div>

        <div class="form-group">
            <label for="inputCountry">Country</label>
            <input style="text-transform: uppercase;" [(ngModel)]="player.country" #country="ngModel" name='country' class="form-control" type="text" id="inputCountry" placeholder="Country where was born" required>
            <span *ngIf="!country.valid && country.touched">
                Campo obligatorio
            </span>
        </div>

        <button type="submit" class="btn col-lg-3 mx-2" id="buttonUpdate" [disabled]="!playerUpdate.form.valid">Update</button>
        <button type="button" class="btn col-lg-3 mx-2" id="buttonDelete" data-toggle="modal" data-target="#exampleModal" >Delete Player</button>        
    </form>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Danger zone!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <h3>This action is irreversible!</h3>
                <span>Enter passsword {{user.username}}</span>
                <form #userRemoved='ngForm'>
                    <label for="passwordRemove"></label>
                    <input [(ngModel)]='possiblePass' type="password" id='passwordRemove' name='possiblePass' required>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger" (click)='deletePlayer()' [disabled]="!userRemoved.form.valid">I'm sure</button>
            </div>
        </div>
        </div>
    </div>
</body>