<body class="text-center">
    <form class="form-signin" #leagueUpdate="ngForm" (ngSubmit)="onSubmit()">
        <h1 style="font-weight: bold; text-transform: uppercase;word-wrap:break-word;">{{league.nameLeague}}</h1>
        <br>
        <img data-toggle="modal" data-target="#imageModal" *ngIf="league.imageLeague" id="imageLeague" class ="mb-4" width="250" height="250" src="{{uri+'getImageLeague/'+league.imageLeague}}" alt="League Picture">
        <img data-toggle="modal" data-target="#imageModal" *ngIf="league.imageLeague == '' || league.imageLeague == undefined" id="imageLeague" class ="mb-4" width="250" height="250" src="../../../assets/img/2.png" alt="imagen de una agenda">        
        <hr>        
        <div class="form-group">
            <label for="inputNameLeague">Name league</label>
            <input style="text-transform: uppercase;" [(ngModel)]="league.nameLeague" #nameLeague="ngModel" name='nameLeague' class="form-control" type="text" id="inputNameLeague" placeholder="NAME LEAGUE" required>
            <span *ngIf="!nameLeague.valid && nameLeague.touched">
                Campo obligatorio
            </span>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputDate">Starting Date - <strong>{{league.startingDate | date: 'd/MM/yyyy'}}</strong></label>
                <input [(ngModel)]="league.startingDate" #startingDate="ngModel" name="startingDate" type="date" min={{todayFormat}} class="form-control" required>
            </div>
            <span *ngIf="!startingDate.valid && startingDate.touched">
                Campo obligatorio
            </span>
            <div class="form-group col-md-6">
                <label for="inputShare">Share</label>
                <select style="text-transform: uppercase;" [(ngModel)]="league.share" #share="ngModel" name="share" id="share" class="form-control" required>
                    <option style="text-transform: uppercase;" *ngFor="let option of optionsShare" [value]="option">{{option}}</option>
                </select>
                <span *ngIf="!share.valid && share.touched">
                    Campo obligatorio
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="inputDescriptionLeague">Description League</label>
            <input [(ngModel)]="league.descriptionLeague" #description="ngModel" name='descriptionLeague' class="form-control" type="text" id="inputDescriptionLeague" placeholder="Description league">
        </div>
        <button type="submit" class="btn col-lg-3 mx-2" id="buttonUpdate" [disabled]="!leagueUpdate.form.valid">Update</button>
        <button type="button" class="btn col-lg-3 mx-2" id="buttonDelete" data-toggle="modal" data-target="#exampleModal" >Delete League</button>        
    </form>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Danger zone!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <h3>This action is irreversible!</h3>
            <span>Enter passsword {{user.username}}</span>
            <form #userRemoved='ngForm'>
                <label for="passwordRemove"></label>
                <input [(ngModel)]='possiblePass' type="password" id='passwordRemove' name='possiblePass' required>
            </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" data-dismiss="modal" class="btn btn-danger" (click)='deleteLeague()' [disabled]="!userRemoved.form.valid">I'm sure</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="imageModalLabel">League image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <h3>Upload your image</h3>
            <form #formUpload='ngForm'>
                <label for="inputImage"></label>
                <input type="file" name="imageLeague" id="inputImage" (change)="fileChange($event)" required>
            </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" data-dismiss="modal" class="btn btn-primary" (click)="uploadImage()">Upload</button>
            </div>
        </div>
        </div>
    </div>