<h1 class="text-center">Jugadores Registrados</h1>
<div id="cards">   
    <div style="text-align: center;">
        <button id="buttonCreate" class="btn mx-2" type="button" style=" background-color: #A1C22F !important;" routerLink="/createPlayer">Create Player</button>
    </div> 
    <hr>
    <table>
      <thead>            
          <tr>
              <th>Name</th>            
              <th>Last Name</th>
              <th>Country</th>
              <th>Age</th>
              <th>Height</th>
              <th>Weight</th>
              <th>Options</th>
          </tr>
      </thead>
      <tr *ngFor="let player of player">
          <td>{{player.name}}</td>
          <td>{{player.lastname}}</td>
          <td>{{player.country}}</td>
          <td>{{player.age}}</td>
          <td>{{player.height}}</td>
          <td>{{player.weight}}</td>
          <td><button id="buttonEdit" type="button" (click)="obtenerData(player)" routerLink="/profilePlayer">Edit/Remove</button></td>
      </tr>            
  </table>
  <br>
</div>